.game{
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.mobileMode {
    @media (orientation: portrait) {
        .game {
            width: 1080px;
            height: 1920px;
        }
    }
}